$colorgreen: #15ffbc;
$colorhover: pink;

@media (max-width: 600px) {
  .header-desktop__menu {
    opacity: 0;
  }
}

@media (min-width: 600px) {
  .menu-mobile {
    opacity: 0;
  }
}

@mixin flex($align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $align;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorgreen;
}

.header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .header-desktop__menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  display: none;
}

nav.menu-mobile > * {
  margin: 20px;
}

.menu-mobile {
  @include flex(space-between);
}

.header__logo {
  @include flex(center);
}
