$colorgreen: #15ffbc;
$colorhover: #ed93ab;
$colorfooter: #070c14;

@mixin flex($direction: row, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $colorgreen;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

h1.title-panic {
  display: none;
}

.pointer {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .header-desktop__menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
}

.menu-mobile {
  @include flex(row, space-between);

  .burguer {
    width: 32px;
    height: auto;
    margin: 5px 5px 0px;
  }
}

.burguer,
.menu-mobile__item {
  margin: 20px 20px 2px 20px;
}

// *MAIN*

.main-video {
  margin-bottom: 30px;
  @include flex(column, center);
  align-items: center;
  background-color: $colorhover;
  background-image: url(/images/work/media/media03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vw;
  color: $colorgreen;

  .main-content__video {
    display: inline-block;
  }
}

.main-video-text {
  @include flex(column, center);
  padding: 20px;
}

// *class generics to use*
.text-title {
  padding: 18px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 23px;
}

.text-paragraph {
  padding: 18px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 12px;
  line-height: 30px;
}

.text-title--small {
  text-align: center;
  letter-spacing: 4px;
  font-size: 15px;
}

.text-paragraph-small {
  text-align: center;
  letter-spacing: 4px;
  font-size: 12px;
  line-height: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.width-desktop {
  width: 33.33%;
}

// ++++MAIN++++
.main-content__title-images {
  text-align: center;

  & > h3 {
    @extend .text-paragraph;
    text-decoration: underline;
    padding-top: 0px;
  }
  .main-content__title-images__separator {
    padding-top: 50px;
    width: 50px;
    height: auto;
  }
}

.main-content__imagegrid {
  @include flex(column, center);
  p {
    padding: 10px 20px;
  }

  > div {
    margin-bottom: 60px;
  }

  .imagegrid__picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vw;
  }

  @for $i from 8 through 10 {
    .picture#{$i} {
      background-image: url("/images/home/media/media#{$i}.jpg");
    }
  }
}

// ++++FOOTER++++
footer {
  background-color: $colorfooter;
  color: white;

  .footer__content {
    @include flex(column, space-between);
    align-items: center;
  }

  .footer__header {
    @extend .text-center;
    @extend .text-title;
    color: $colorgreen;
    font-size: 14px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;

    & > p {
      @extend .text-paragraph-small;
    }
  }

  .paragraph-footer {
    color: $colorgreen;
  }

  .text--active {
    text-decoration: line-through solid $colorhover;
    -webkit-text-decoration: line-through solid $colorhover;
  }

  .color--hover {
    color: $colorhover;
  }

  .footer__menu-mobile {
    text-align: center;
    list-style-type: none;
    margin: 20px 0px 40px 0px;
  }

  .footer__content__section {
    margin-bottom: 20px;

    > h3 {
      @extend .text-title--small;
    }

    > div {
      @extend .text-paragraph-small;
    }

    p {
      @extend .pointer;
    }
  }

  .social-media {
    @include flex(row, space-around);

    img {
      width: 50px;
      margin: 20px 10px 0px;
      @extend .pointer;
    }
  }
}

// +++WORKS STYLE+++
@for $i from 8 through 34 {
  .works__picture#{$i} {
    background-image: url("/images/work/media/media#{$i}.jpg");
  }
}

// ++++ Media Query for mobile ++++
@media (max-width: 600px) {
  .header-desktop__menu {
    visibility: hidden;
  }
}

// ++++ Media Query for Desktop ++++
@media (min-width: 600px) {
  .menu-mobile {
    visibility: hidden;
  }

  .main-content__imagegrid {
    @include flex(row, center);

    > div {
      width: 33.33vw;
    }

    .imagegrid__picture {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  footer {
    .footer__menu-mobile {
      display: none;
    }
    .footer__content {
      @include flex(row, space-between);
      align-items: flex-start;

      .footer__content__section {
        width: 33.33%;
      }
    }
  }
}
