$colorgreen: #15ffbc;
$colorhover: #ed93ab;
$colorfooter: #070c14;

@mixin flex($direction: row, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $colorgreen;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

header {
  height: 120px;
}

.title-panic {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .header-desktop__menu {
    display: none;
    // display: flex;
    // flex-direction: row;
    // list-style-type: none;
    // justify-content: center;
    // align-items: center;
  }
}

.burguer,
.menu-mobile__item {
  margin: 20px 20px 2px 20px;
}

.menu-mobile {
  @include flex(row, space-between);
}

// *MAIN*

.main-video {
  margin-bottom: 30px;
  @include flex(column, center);
  align-items: center;
  background-color: $colorhover;
  background-image: url(/images/work/media/media03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vw;
  color: $colorgreen;
}

.main-video-text {
  @include flex(column, center);
  padding: 20px;
}

// *class generics to use*
.text-title {
  padding: 18px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 23px;
  text-transform: uppercase;
}

.text-paragraph {
  padding: 18px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.main-content__title-images h3 {
  @extend .text-paragraph;
  text-decoration: underline;
  padding-top: 0px;
}

.main-content__title-images__separator {
  padding-top: 50px;
  width: 50px;
  height: auto;
}

.main-content__title-images {
  text-align: center;
}

.imagegrid__picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vw;
}

.main-content__imagegrid {
  p {
    padding: 10px 20px;
  }

  > div {
    margin-bottom: 60px;
  }

  .picture1 {
    background-image: url("/images/home/media/media07.jpg");
  }
  .picture2 {
    background-image: url("/images/home/media/media09.jpg");
  }
  .picture3 {
    background-image: url("/images/home/media/media10.jpg");
  }
}

footer {
  background-color: $colorfooter;
}

// @media (max-width: 600px) {
//   .header-desktop__menu {
//     display: none;
//   }
// }

// @media (min-width: 600px) {
//   .menu-mobile {
//     display: none;
//   }
// }
